nav.navbar.navbar-defult.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='#') 狗狗世界
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 簡介 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://sites.google.com/site/pschin945/" target="_blank") 主持人TUTOR
header.jumbotron
  .container
    h1 狗狗專欄
    hr
    h4 狗狗品種/各式各樣的狗狗
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 有什麼狗狗
section#section_about
  .container
    .row
      .col-sm-12
        h1 狗狗的照片/Dogs Photo
        hr
      .col-sm-4  
        .img_wrap
          img(src="https://goo.gl/qwEuaU", alt="")
        h3 博美
        p  博美犬是狐狸犬家族中最小的犬種，其名出自原產地波美拉尼亞，在波蘭西北部和德國東北部沿海交界地。博美犬因嬌小的體型被分類為玩賞犬類。
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/8D7yRq", alt="")
        h3 柯基
        p  威爾斯柯基犬是一種原產於英國威爾斯的品種，被認為是源自維京人帶來威爾斯的Swedish Vallhund；「柯基」在威爾斯語中是矮犬的意思。
      .col-sm-4
        .img_wrap
          img(src="https://goo.gl/cTcty7", alt="")
        h3 柴犬
        p  柴犬樸實而雅致，是日本品種犬中體型最小的犬種之一，它靈巧機敏，色澤如木柴，曾是穿梭于深山林間的狩獵好手，故稱之為柴犬。
section#section_video
  .container
    .row
      .col-sm-12
        h1 狗狗影片/DOGS
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/hPOUNK9_fBo', allowfullscreen='')